/* Container for the navigation bar */
.home-ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
    padding: 0;
    margin: 0;
    background-color: #000000; 
    height: 60px; 
  }
  
  /* Style for each list item */
  .home-ll {
    margin: 15px; 
  }
  
  /* Style for the text inside the list items */
  .home-ll h1 {
    color: white;
    font-size: 20px; 
    margin: 0;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px; 
    transition: all 0.3s ease; 
    font-weight: 500;
  }
  
  /* Hover effect for list items */
  .home-ll:hover {
    background-color: #051a06; 
    border-radius: 5px; 
  }
  
  /* Hover effect for text */
  .home-ll h1:hover {
    color: #f0f0f0; 
  }
  
  

  